.logo{
    width: 100px;
    height: 42px;

}

.logodiv{
    padding:20px 40px 20px 0 !important;
    border-right: 1px solid rgba(128, 128, 128, 0.384);
}
.navlink{
    display: flex;
    align-items: center;
}
.navlinkmenu{
    display: flex;
    align-items: center;
}
.navv{
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
}